[submodule "Submodules/Bygdrift.Tools.LogTool"]
	path = Submodules/Bygdrift.Tools.LogTool
	url = https://github.com/Bygdrift/Tools.LogTool
[submodule "Submodules/Bygdrift.Tools.CsvTool"]
	path = Submodules/Bygdrift.Tools.CsvTool
	url = https://github.com/Bygdrift/Tools.CsvTool
[submodule "Submodules/Bygdrift.Tools.MssqlTool"]
	path = Submodules/Bygdrift.Tools.MssqlTool
	url = https://github.com/Bygdrift/Tools.MssqlTool
